.network_selector_container {
  display: inline-block;
  border: 2px solid black;
  padding: 0.25rem;
  width: auto;
  background-color: #1c7b77;
  color: white;
  font-size: 1.75rem;
}

.network_selector_spacer {
	width: 0.5rem;
}